body{
	background-image: url('background.jpg');
	background-repeat: no-repeat; 
	margin: 3% 5%;
	text-align:center;
	background-color: lavender;
	color: white;
	font-family: sans-serif;
}

.signs {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 10px;
}

button {
	background-color: #008CBA;
	color: white;
	font-size: 20px;
	border-radius: 20%;    
}

button:hover,
button:focus {
    background: #0053ba;
}

button:active {
    transform: scale(1.10);
}